[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
boto3 = "*"
requests = "*"
xmltodict = "*"
zappa = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
